.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  max-width: 80%;
  width: 80%;
  position: relative;
}

.modal-content h1 {
  font-size: 4.2rem;
  margin-bottom: .6rem;
}

.modal-content .medicine-company {
  font-size: 2.8rem;
  margin-bottom: .6rem;
}

.modal-content .medicine-publicated-at {
  font-size: 1.8rem;
}

.modal-content .medicine-documents {
  margin: 3.2rem 0;
}

.modal-content .medicine-documents h2 {
  font-size: 2.2rem;
  text-align: left;
}

.modal-content .medicine-active-principles h2 {
  font-size: 2.2rem;
  text-align: left;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.4rem;
  cursor: pointer;
  color: #333;
}

@media (max-width: 72rem) {
  .modal-content h1 {
    font-size: 3.2rem;
  }

  .modal-content .medicine-company {
    font-size: 2.2rem;
  }

  .modal-content .medicine-documents h2 {
    font-size: 2.2rem;
    text-align: left;
  }

  .modal-content .medicine-active-principles h2 {
    font-size: 2.2rem;
    text-align: left;
  }
}
